In [143]:
# Sarah Sami
# 101334588

# Part A: (1.5 marks)
# We want to play outdoor tennis. Some weather conditions, such as low temperature, rainy or very windy ones prohibit us from playing. These are just a few examples, but you can find more features (columns).
# Please create a dataset, including at least three features and twenty samples (rows), and the labels could be cancelling or playing (like Yes/No or True/False).
# After creating your model and training your classifier, using the above 20 rows, test your model over three new (unseen) samples, and see if it works properly or not.

import numpy as np
from sklearn import tree
import pandas as pd

In [165]:
tennis_data = pd.read_csv("/content/tennis_play_data.csv")
tennis_data

    Raining (mm)  Wind Speed  Temp  Indoor  Play
0             35           6     6       1     1
1              0           3    15       0     1
2             20          15     5       0     0
3              2           2    16       0     1
4             25          14    10       0     0
5             40          10    14       0     0
6             15          10     8       1     1
7             14          28     4       0     0
8             15          25     4       1     1
9             25           1    20       0     0
10             0           5   -10       0     0
11             0           5     0       0     0
12             2           6     0       1     1
13             0           4    20       0     1
14            30           2    24       0     0
15            25          10    25       1     1
16             0           3    17       0     1
17            14          12     8       1     1
18            32           2     7       0     0
19            34          11    -2       1     1
20            25          15     7       1     1
21             0           4    10       0     1
22            35          14     5       0     0

In [144]:
tennis_data.loc[:, 'Raining (mm)': 'Indoor'] # all rows, from column 'Raining (mm)' to column 'Indoor' - loc is inclusive

    Raining (mm)  Wind Speed  Temp  Indoor
0             35           6     6       1
1              0           3    15       0
2             20          15     5       0
3              2           2    16       0
4             25          14    10       0
5             40          10    14       0
6             15          10     8       1
7             14          28     4       0
8             15          25     4       1
9             25           1    20       0
10             0           5   -10       0
11             0           5     0       0
12             2           6     0       1
13             0           4    20       0
14            30           2    24       0
15            25          10    25       1
16             0           3    17       0
17            14          12     8       1
18            32           2     7       0
19            34          11    -2       1
20            25          15     7       1
21             0           4    10       0
22            35          14     5       0

In [130]:
x_1 = tennis_data.loc[:, 'Raining (mm)': 'Indoor'].values

In [145]:
tennis_data.loc[:, 'Play'] # results column (Play)

0     1
1     1
2     0
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    0
11    0
12    1
13    1
14    0
15    1
16    1
17    1
18    0
19    1
20    1
21    1
22    0
Name: Play, dtype: int64

In [166]:
y_1 = tennis_data.loc[:, 'Play'].values

In [146]:
# now initiating the classifier

from sklearn import tree
clf = tree.DecisionTreeClassifier()

In [167]:
# training the classifier with x_train and y_train
clf.fit(x_1, y_1)

DecisionTreeClassifier()

In [168]:
test = {"Raining (mm)": [30, 12, 0],
        "Wind Speed": [5, 10, 4],
        "Temp": [15, 3, 10],
        "Indoor": [1, 0, 0]}
test = pd.DataFrame(test)
test
# expecting : yes, no, yes - or [1, 0, 1]

   Raining (mm)  Wind Speed  Temp  Indoor
0            30           5    15       1
1            12          10     3       0
2             0           4    10       0

In [170]:
# now make prediction
print(clf.predict(test))

[1 0 1]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
# Please find/create a CSV file that has at least three columns (features) and 30 rows that can decide if a person has COVID-19 or not. 
# Please use 30% of the dataset as your testing data and show the achieved accuracy.

In [171]:
covid_data = pd.read_csv("/content/covid_test_data.csv")
covid_data

    fever severity  cough  loss of taste  fatigue severity  covid result
0                2      0              1                 2             1
1                2      1              1                 1             1
2                2      1              0                 1             1
3                0      1              0                 1             0
4                1      0              0                 2             0
5                0      0              0                 2             0
6                2      1              1                 2             1
7                1      1              1                 1             1
8                0      0              0                 0             0
9                0      1              1                 2             1
10               2      1              0                 0             1
11               2      1              1                 0             1
12               1      0              0                 1             0
13               0      1              0                 0             0
14               1      0              0                 1             0
15               2      0              0                 0             0
16               0      1              1                 1             1
17               0      1              1                 2             1
18               2      1              0                 2             1
19               2      0              1                 1             0
20               1      1              1                 2             1
21               1      1              1                 1             1
22               1      0              0                 2             0
23               2      0              0                 2             1
24               2      1              1                 2             1
25               2      0              1                 1             1
26               1      1              0                 2             1
27               0      0              1                 1             0
28               1      1              0                 2             1
29               2      0              1                 1             1
30               2      1              0                 2             1
31               0      0              0                 1             0

In [154]:
covid_data.loc[:, 'fever severity': 'fatigue severity'] # all rows, from column 'fever severity' to column 'fatigue severity' are for training

    fever severity  cough  loss of taste  fatigue severity
0                2      0              1                 2
1                2      1              1                 1
2                2      1              0                 1
3                0      1              0                 1
4                1      0              0                 2
5                0      0              0                 2
6                2      1              1                 2
7                1      1              1                 1
8                0      0              0                 0
9                0      1              1                 2
10               2      1              0                 0
11               2      1              1                 0
12               1      0              0                 1
13               0      1              0                 0
14               1      0              0                 1
15               2      0              0                 0
16               0      1              1                 1
17               0      1              1                 2
18               2      1              0                 2
19               2      0              1                 1
20               1      1              1                 2
21               1      1              1                 1
22               1      0              0                 2
23               2      0              0                 2
24               2      1              1                 2
25               2      0              1                 1
26               1      1              0                 2
27               0      0              1                 1
28               1      1              0                 2
29               2      0              1                 1
30               2      1              0                 2
31               0      0              0                 1

In [172]:
x_2 = covid_data.loc[:, 'fever severity': 'fatigue severity'].values

In [156]:
covid_data.loc[:, 'covid result'] # results column (covid result)

0     1
1     1
2     1
3     0
4     0
5     0
6     1
7     1
8     0
9     1
10    1
11    1
12    0
13    0
14    0
15    0
16    1
17    1
18    1
19    0
20    1
21    1
22    0
23    1
24    1
25    1
26    1
27    0
28    1
29    1
30    1
31    0
Name: covid result, dtype: int64

In [173]:
y_2 = covid_data.loc[:, 'covid result'].values

In [159]:
from sklearn.model_selection import train_test_split
x_2_train, x_2_test, y_2_train, y_2_test = train_test_split(x_2, y_2, test_size=0.3) # trying to save 30% as testing data

In [174]:
# now initiating the classifier

from sklearn import tree
clf = tree.DecisionTreeClassifier()

# training the classifier with x_train and y_train
clf.fit(x_2_train, y_2_train)

DecisionTreeClassifier()

In [175]:
# now make prediction
predictions = clf.predict(x_2_test)
print(predictions)

# actual results
print(y_2_test)

[0 0 1 0 0 0 1 1 0 1]
[1 0 1 0 0 0 1 1 0 1]

In [177]:
# show accuracy level with %
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(predictions, y_2_test) * 100
print("Accuracy of Predictions: " + str(accuracy) + "%")
print()

Accuracy of Predictions: 90.0%